# Data preprocessing

In [102]:
# Import pandas
import pandas as pd
import numpy as np

## Progressif.json

In [3]:
prog = pd.read_json("Test/Progressif.json")
prog

                                                              results
c2_race_id
duration                                                         2000
ergrace_version                                              02.01.17
participants        [{'affiliation': '', 'avg_pace': '1:38.3', 'ca...
race_duration_type                                           distance
race_end_time                                     2023-01-22 11:01:45
race_event_site                                            2000 m SNO
race_file_name                                        Progressif.rac2
race_id
race_name                                                  Progressif
race_start_time                                   2023-01-22 10:53:32
race_type                                                  individual
time_cap                                                            0

In [4]:
prog_par = pd.DataFrame(prog.loc["participants"][0][0])
prog_par

/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/3564294752.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  prog_par = pd.DataFrame(prog.loc["participants"][0][0])

,affiliation,avg_pace,calories,class,distance,id,lane,logbook_id,logged_time,machine_type,participant,place,score,serial_number,splits,spm,time
0,,1:38.3,171,,2000,,4,,22/01/2023 10:59:00,row,Maxime,1,6:33.4,530392424,"{'split_avg_pace': '1:41.6', 'split_calories':...",28,6:33.4
1,,1:38.3,171,,2000,,4,,22/01/2023 10:59:00,row,Maxime,1,6:33.4,530392424,"{'split_avg_pace': '1:42.0', 'split_calories':...",28,6:33.4
2,,1:38.3,171,,2000,,4,,22/01/2023 10:59:00,row,Maxime,1,6:33.4,530392424,"{'split_avg_pace': '1:37.6', 'split_calories':...",28,6:33.4
3,,1:38.3,171,,2000,,4,,22/01/2023 10:59:00,row,Maxime,1,6:33.4,530392424,"{'split_avg_pace': '1:32.1', 'split_calories':...",28,6:33.4

In [5]:
pd.DataFrame(prog_par)["splits"][0]

{'split_avg_pace': '1:41.6',
 'split_calories': 41,
 'split_distance': 500,
 'split_drag_factor': 128,
 'split_running_calories': 41,
 'split_running_distance': 500,
 'split_running_time': 1016,
 'split_stroke_count': 44,
 'split_stroke_rate': 26,
 'split_time': 1016,
 'split_type': 'distance_split'}

## Série 1(0001).json

In [6]:
se1 = pd.read_json("Test/Série 1(0001).json")
se1

                                                              results
c2_race_id
duration                                                         2000
ergrace_version                                              02.01.17
participants        [{'affiliation': '', 'avg_pace': '1:59.3', 'ca...
race_duration_type                                           distance
race_end_time                                     2023-01-22 09:52:15
race_event_site                                            2000 m SNO
race_file_name                                           Série 1.rac2
race_id
race_name                                                     Série 1
race_start_time                                   2023-01-22 09:43:50
race_type                                                  individual
time_cap                                                            0

In [7]:
se1_par = pd.DataFrame(se1.loc["participants"][0][0])
se1_par

/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/3113054547.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  se1_par = pd.DataFrame(se1.loc["participants"][0][0])

,affiliation,avg_pace,calories,class,distance,id,lane,logbook_id,logged_time,machine_type,participant,place,score,serial_number,splits,spm,time
0,,1:59.3,131,,2000,,3,,22/01/2023 09:51:00,row,Eric,1,7:57.3,430839301,"{'split_avg_pace': '1:59.4', 'split_calories':...",27,7:57.3
1,,1:59.3,131,,2000,,3,,22/01/2023 09:51:00,row,Eric,1,7:57.3,430839301,"{'split_avg_pace': '2:01.2', 'split_calories':...",27,7:57.3
2,,1:59.3,131,,2000,,3,,22/01/2023 09:51:00,row,Eric,1,7:57.3,430839301,"{'split_avg_pace': '2:01.2', 'split_calories':...",27,7:57.3
3,,1:59.3,131,,2000,,3,,22/01/2023 09:51:00,row,Eric,1,7:57.3,430839301,"{'split_avg_pace': '1:55.5', 'split_calories':...",27,7:57.3

In [8]:
pd.DataFrame(se1_par)["splits"][3]

{'split_avg_pace': '1:55.5',
 'split_calories': 34,
 'split_distance': 500,
 'split_drag_factor': 120,
 'split_running_calories': 131,
 'split_running_distance': 2000,
 'split_running_time': 4773,
 'split_stroke_count': 56,
 'split_stroke_rate': 29,
 'split_time': 1155,
 'split_type': 'distance_split'}

## Série 2.json

In [9]:
se2 = pd.read_json("Test/Série 2.json")
se2

                                                              results
c2_race_id
duration                                                         2000
ergrace_version                                              02.01.17
participants        [{'affiliation': '', 'avg_pace': '1:58.7', 'ca...
race_duration_type                                           distance
race_end_time                                     2023-01-22 10:03:41
race_event_site                                            2000 m SNO
race_file_name                                           Série 2.rac2
race_id
race_name                                                     Série 2
race_start_time                                   2023-01-22 09:54:53
race_type                                                  individual
time_cap                                                            0

In [11]:
se2_par = pd.DataFrame(se2.loc["participants"][0][0])
se2_par

/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/1931953948.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  se2_par = pd.DataFrame(se2.loc["participants"][0][0])

,affiliation,avg_pace,calories,class,distance,id,lane,logbook_id,logged_time,machine_type,participant,place,score,serial_number,splits,spm,time
0,,1:58.7,134,,2000,,2,,22/01/2023 10:02:00,row,Usama,1,7:54.8,530087901,"{'split_avg_pace': '1:52.8', 'split_calories':...",27,7:54.8
1,,1:58.7,134,,2000,,2,,22/01/2023 10:02:00,row,Usama,1,7:54.8,530087901,"{'split_avg_pace': '2:02.3', 'split_calories':...",27,7:54.8
2,,1:58.7,134,,2000,,2,,22/01/2023 10:02:00,row,Usama,1,7:54.8,530087901,"{'split_avg_pace': '2:03.1', 'split_calories':...",27,7:54.8
3,,1:58.7,134,,2000,,2,,22/01/2023 10:02:00,row,Usama,1,7:54.8,530087901,"{'split_avg_pace': '1:56.7', 'split_calories':...",27,7:54.8

In [77]:
pd.DataFrame(se2_par)["splits"][0]

{'split_avg_pace': '1:52.8',
 'split_calories': 36,
 'split_distance': 500,
 'split_drag_factor': 118,
 'split_running_calories': 36,
 'split_running_distance': 500,
 'split_running_time': 1128,
 'split_stroke_count': 53,
 'split_stroke_rate': 28,
 'split_time': 1128,
 'split_type': 'distance_split'}

In [12]:
import os

directory = os.getcwd() + "/Test/"
db_lst = os.listdir(directory) 

print("List of database :",db_lst)

List of database : ['Série 1(0001).json', 'Série 4.json', 'Série 5.json', 'Série 2.json', 'Série 3.json', 'Progressif.json', 'Série 6.json', 'Série 7.json']

## Creation de la base sur 2000m

In [131]:
# Create 2000m ergometer database

# Get columns
col = list(pd.read_json("Test/" + db_lst[0]).loc["participants"][0][0].keys())
print("Columns name :",col)

#df_main = pd.DataFrame(pd.read_json("Test/" + db_lst[0]).loc["participants"][0][0])
dict_main = dict()
for c in range(len(col)) : 
    if col[c] not in dict_main : 
        dict_main[col[c]] = []

for db in range(len(db_lst)) : 
    # print(db_lst[db])
    # df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
    # for c in range(len(col)) : 
    #     pass
    df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
    for c in range(len(col)) : 
        dict_main[col[c]] += list(df[col[c]])

ergo_2000m = pd.DataFrame(dict_main)
ergo_2000m.replace(to_replace='',value=np.nan,inplace=True)

for c in range(len(col)) : 
    if ergo_2000m[col[c]].isna().sum() >= len(ergo_2000m) // 2 : 
        ergo_2000m.drop([col[c]],axis=1,inplace=True)


# To save
ergo_2000m.to_json("Test/ergometer_2000m.json", index=False)

Columns name : ['affiliation', 'avg_pace', 'calories', 'class', 'distance', 'id', 'lane', 'logbook_id', 'logged_time', 'machine_type', 'participant', 'place', 'score', 'serial_number', 'splits', 'spm', 'time']

/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  col = list(pd.read_json("Test/" + db_lst[0]).loc["participants"][0][0].keys())
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df = pd.DataFrame(pd.read_json("Test/" + db_lst[db]).loc["participants"][0][0])
/var/folders/dk/5xxlbv9n6xngmfm92w8343_40000gp/T/ipykernel_94673/2929631469.py:23: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ergo_2000m.replace(to_replace='',value=np.nan,inplace=True)